.carousel {
    margin-top: 60px;
}

.container {
    margin-top: 50px;
}

.breadcrumb {
    margin-top: 80px;
    margin-bottom: 30px;
}

.btn-info {
    width: 100%;
    background-color: #febb02;
}

.payment-content {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.payment {
    height: 60px;
}

.list-group-item {
    border: none;
}

footer {
    padding: 10px 10px 0 10px;
    color: white;
    background-color: #343a40;
    margin-bottom: 10px;
    margin-top: 10px;
}

.link-footer {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: cyan;
}

td {
    text-align: center;
}

.footer-adrdress-icon {
    padding-right: 10px;
}