@yellow: #febb02;
@red: red;
@green: green;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.carousel {
    .margenes(60px, 0) }
  
  .container {
    .margenes(50px, 0) }
  
  .breadcrumb {
    .margenes(80px, 30px) }
  
  .btn-info {
    width: 100%;
    background-color: @yellow; }
  
  .payment-content {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0; }
  
  .payment {
    height: 60px; }
  
  .list-group-item {
    border: none; }
  
  footer {
    padding: 10px 10px 0 10px;
    color: white;
    background-color: #343a40;
    margin-bottom: 10px;
    margin-top: 10px; }
  
  .link-footer {
    text-decoration: none;
    color: white; }
  
  a:hover {
    text-decoration: none;
    color: cyan; }
  
  td {
    text-align: center; }
  
  .footer-adrdress-icon {
    padding-right: 10px; }
  